/* DIV box */
.box {
    position: relative;
    width: 300px;
    margin-bottom: 0;
    float: left;
}

/* DIV box2 */
.box2{
    margin-left: 0;
    padding-bottom: 10px;
    padding-left: 1%;
    background-color: white;
    width: 100%;
    float: none;
}

input{
    width: 250px;
}

select {
    background-color: white;
    border: 1px solid black;
    width: 258px;
    height: 22px;
}

select:hover {
    background-color: lightgrey;
}

select:active {
    background-color: gray;
}

input.rosso {
    border: 1px solid red;
    color: red;
}

footer{
    top: 0px !important;
}
