table, th, tr, td {
    border:1px solid black;
    border-collapse: collapse;
}

table {
    width: 98%;
    table-layout: fixed;
}

tr, th, td {
    height: 30px;
    word-wrap: break-word;
    overflow: hidden;
}

.button {
    background-color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: lightgrey;
}

.button:active {
    background-color: gray;
}

th{
    font-size: 11px;
    justify-content: center;
    text-align: center;
}

td{
    font-size: 10px;
    justify-content: center;
    text-align: center;
}

th[id] {
    /* stile per tutti i <th> che hanno un attributo id */
    color: rgb(47, 36, 255) !important;
    text-decoration: underline !important;
    cursor: pointer;
}

th[id]:hover {
    color: rgb(30, 23, 165) !important;
}

th[id]:active {
    color: rgb(16, 12, 88) !important;
}

#displaybox{
    color: white;
    position: fixed;
    top: 20px;      /* distanza dal bordo superiore */
    right: 20px;    /* distanza dal bordo destro */
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center; /* centra orizzontalmente */
    align-items: center;     /* centra verticalmente */
    text-align: center;
    overflow: hidden;
    pointer-events: none; /* Disabilita l'interazione con il div */
}

.succ{
    background-color: rgb(0, 200, 0);
    animation: fadeOut 2s ease-in-out 5s 1 normal forwards;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.err{
    background-color: rgb(200, 0, 0);
    animation: fadeOut 2s ease-in-out 5s 1 normal forwards;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

@keyframes fadeOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.newbutton {
    background-color: white;
    padding: 5px;
    margin-top: 4px;
    border: 1px solid black;
    border-radius: 5px;
}

.newbutton:hover {
    background-color: lightgrey;
}

.newbutton:active {
    background-color: gray;
}
